
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared style */
main{
    max-width: 1140px;
    margin:0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;

}
.text-center{
    text-align: center;
}
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin:0px 35px 0px 200px ;
    
}
.banner-content{
    max-width: 585px;
    
}
.text-primary{
    color: #FD6E0A;
}
.dark-02{
    color: #474747;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 200px;
}
.nav-tittle{
    font-weight: 800px;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    font-weight:bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
}
.banner-greetings{
    font-weight:600px;
    font size: 45px;
}
.banner-tittle{
    font-weight: bold;
    font-size:85px ;
    color: #181818;
}
.banner-description{
    font-size:18px;
    color: #757575;
    

}
.banner-profile{
    width: 584px;
    height: 686px;
}
.section-tittle, .skills-tittle{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-description, skills-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}  
/* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.skills-container{
    display: flex;
    gap:24px
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px #0006
    
}
.resume-container{
    display: flex;
    gap: 24px;
} 
.experience-sub-tittle{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-tittle{
    color:#757575
}
resume hr{
    margin:30px 5px;
}
.resume-download-cv{
    margin-top: 30px;
}
footer{
    display: flex;
    gap: 100px;
    padding: 130px 230px;
}
.footer-colum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea {
    
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}





